<div class="mdl-card__supporting-text">
  <h4>Question {{ question.id }}</h4>
  <h5><strong>Question:</strong> {{ question.title }}</h5>
  <form method="post" action="/">
  {% csrf_token %}
  <ul>
    {% for choice in form.choices.field.queryset %}
      <li>
        <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect"
               for="choice-{{ choice.id }}">
          <input id="choice-{{ choice.id }}" class="mdl-radio__button" value="{{ choice.id }}" type="radio"
                 name="choices"/>{{ choice.letter }}) {{ choice.text }}</label>
      </li>
    {% endfor %}
  </ul>
    <div class="form-actions ">
      <button id="submit-btn" type="submit"
              class="right mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Send
      </button>
    </div>
  </form>
</div>
