{% extends "mcq/headers.html" %}

{% block content %}
  <main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="overview">
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          {% include 'mcq/form.html' %}
        </div>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
          <li class="mdl-menu__item">Lorem</li>
          <li class="mdl-menu__item" disabled>Ipsum</li>
          <li class="mdl-menu__item">Dolor</li>
        </ul>
      </section>
    </div>
  </main>

{% endblock %}
