<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>Django MCQ</h3>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
</header>
